<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".UrbanPulseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.UrbanPulse"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.UrbanPulse">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WelcomeActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".SignUpActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".MapActivity" android:exported="false" />
        <activity android:name=".SosActivity" android:exported="false" />
        <activity android:name=".AchievementsActivity" android:exported="false" />
        <activity android:name=".CommunityActivity" android:exported="false" />
        <activity android:name=".CreatePostActivity" android:exported="false" />
        <activity android:name=".EmergencyContactsActivity" android:exported="false" />
        <activity android:name=".IncidentsActivity" android:exported="false" />
        <activity android:name=".LocationPickerActivity" android:exported="false" />
        <activity android:name=".MedicalActivity" android:exported="false" />
        <activity android:name=".PostDetailActivity" android:exported="false" />
        <activity android:name=".ReportIncidentActivity" android:exported="false" />
        <activity android:name=".HospitalityActivity" android:exported="false" />
        <activity android:name=".GreenRoutePlannerActivity" android:exported="false" />
        <activity android:name=".HotelOptimizerActivity" android:exported="false" />
        <activity android:name=".CarbonWalletActivity" android:exported="false" />
        <activity android:name=".ItineraryActivity" android:exported="false" />
        <activity android:name=".TripDetailActivity" android:exported="false" />
        <activity android:name=".YatriAiActivity" android:exported="false" />

    </application>

</manifest>
