<settings>
    <!-- What the user sees in Garmin Connect > the app's settings, and in the
         simulator's Settings Editor. Values land in Application.Properties and
         reach the app through AppBase.onSettingsChanged(). -->
    <setting propertyKey="@Properties.degrees" title="@Strings.SettingAngle">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.haptics" title="@Strings.SettingHaptics">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.decimals" title="@Strings.SettingDecimals">
        <settingConfig type="numeric" min="0" max="12"/>
    </setting>
</settings>
